<div class="hero span7">
    <h2>Welcome to <%= brand.name %>!</h2>
    <p>This is a boilerplate app for some common usecases. Feel free to modify the code =)</p>
</div>
<div class="span5 well">
      <legend>New to <%= brand.name %>? Sign up!</legend>
    <form accept-charset="UTF-8" action="" method="post">
		<input class="" name="name" placeholder="Full Name" type="text"><br/>
        <input class="" name="username" placeholder="Username" type="text"><br/>
        <input class="" name="password" placeholder="Password" type="password"><br/> 
        <button class="btn btn-warning" type="submit">Sign up for <%= brand.name %></button>
    </form>
</div>