<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
<div class="container">

    
    <div class="span6">
        <h2>News</h2>
        <div>
            <h4>18.10.2013 - Release 0.4.0</h4>
            <p>
                New:
                - Completely new way to write services, much simpler. Checkout the howto section. <br>
                - Error-handling in services enhanced. Just throw an exception directly into the user's face.
                - Sessions module assimilated. It had a bug which needed to be fixed. As it is not maintained anymore i added it directly to the project.
                <br/>
            </p>
        </div>
        <div>
            <h4>23.08.2013 - Release 0.3.3</h4>
            <p>
                Long time no update, but there are some cool new features in the new release.<br>
                New in Release 0.3.3:<br/>
                - new restful routes / url pattern matching possible within the services (have a look at the howto section)<br/>
                - session object moved from ctx to http<br/>
                - no need to pass the context to ctx.db.perform(function(){}) when performing a db operation<br>
                - no need to pass the context to ctx.db.model(schema) anymore<br/>
                - some bugs fixed
                
                <br/>
            </p>
        </div>
        <div>
            <h4>15.06.2013 - Release 0.2.0</h4>
            <p>
                There are some major API changes in version 0.2.0.<br/>
                The mongoose library is now optional and must be defined in your own's app package.json<br/>
                Reason for this is to shrink the size of the library and let you choose if you want to use a database or not.<br/>
                Furthermore, the service structure changed. It is now possible to define multiple methods under the same service endpoint which can be called by setting the requestType on your AJAX call.<br/>
                Unfortunately, i had to break the API. The old services are not compatible anymore.<br/>
                <br/>
                Session handling is finally implemented!<br/>
                It is possible to maintain a session for each client now.<br/> The sessions are stored the memcache of your application.<br/>
                For now, it is just a very basic sesssion implementation which uses the sessions 0.0.2-7 library (discontinued).<br/>
                It does the job, but don't expect to much.<br/>
                This will be changed in the future to a more mature library.<br/> Hopefully without breaking the current API.<br/>
                <br/>
                Checkout the HowTo section with the updated informations about database, sessions and services.
                <br/>
            </p>
        </div>
        <div>
            <h4>15.04.2013 - Official site online!</h4>
            <p>
                The official Slimple site is now online!<br/>
                You can follow the guide to get started with Slimple.<br/>
                It provides some examples how to create services, events and mongoDB schemas.<br/>
                The API documentation is coming soon!<br/>
                <br/>
                The new version of Slimple improved the module in npm,<br/>
                some dependencies / require imports were fixed.<br/>
            </p>
        </div>
        <div>
            <h4>26.03.2013 - Slimple now availbable on BitBucket and npm</h4>
            <p>
                Slimple is now available on the BitBucket and npm repository.<br/>
                It'public, check it out at <a href="https://bitbucket.org/MentalExtract/slimple" target="blank">https://bitbucket.org/MentalExtract/slimple</a><br/>
                and <a href="https://npmjs.org/package/slimple" target="_blank">https://npmjs.org/package/slimple</a>
            </p>
        </div>        
    </div>
    

    <div class="well span5">
        <h1>Slimple 0.4.0</h1>
        <h3>slim and simple!</h3>
        <p>
            Slimple is a slim service based NodeJS framework for web development.<br/>
        </p>
        <p><a href="pages/info.html" class="btn btn-primary btn-large onPageLink menuItem" onclick="$('#aboutLi').addClass('active')">Learn more &raquo;</a></p>
        
        <pre class="prettyprint">
        
    var config = require('./config/app.js');
    var slimple = require("slimple"); 
    
    var app = {
        context : {
            doStuff : function(text){
                this.log.trace(text);
            } 
        },
        init: function(){
            this.context = slimple.contextFactory.build(
            config, 
            this.context);
        },
        run: function(){
            this.init();
            slimple.server.httpd.start(this.context);
        }
    };
    
    app.run();
        </pre>   
    </div> 

</div>