<div id="GenericToolBar" style="display: none">
    <a data-toggle="modal" href="#detailDialog" class="btn"><i class="icon-plus"></i>Add entry</a>
    <br>
    <br>
</div>
<ul class="nav nav-pills nav-stacked">
    <% for(var i = 0; i < schemas.length; i++) { %>
        <li><a href="#" id="<%= schemas[i] %>" class="schemaLink"><%= schemas[i] %></a></li>
    <% } %>
</ul>