<div style="width:550px;">
    <form id="postFormX" action="/blog/savePost" method="post" >
        <label>Title</label>
        <br/>
        <input type="text" name="title" value="<%= post.title %>"/><br/>
        <textarea name="body" rows="10" cols="60" value="<%= post.body %>"></textarea><br>
        <input type="button" value="Submit" onclick="submitPost();return false;"/>
    </form>
</div>